@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root { 
	--rojo1: rgba(249, 2, 51, 0.7); 
	--rojo2: rgba(249, 2, 51, 0.9); 
	--gris1: rgba(145, 145, 145, 0.9); 
	--gris2: rgba(129, 129, 129, 0.3); 
	--blanco: rgba(249, 249, 249, 0.9); 
	--negro: rgba(30, 30, 30, 0.7);
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
*,*:after,*:before{
	padding:0;
	margin:0;
	max-width: 100vw;
}
/* ------ CONFIGURACION BOOTSTRAP ------ */

/* ------ CONFIGURACION TIPOGRAFIAS ------ */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    line-height: 1.2;
	font-family: 'Poppins', sans-serif;    
	color: var(--gris2);
}
p {
    line-height: 28px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--negro);
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.logotipo {
	width: 16rem;
	height: 8rem;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* .form-signin input[type="text"] { */
/*   margin-bottom: -1px; */
/*   border-bottom-right-radius: 0; */
/*   border-bottom-left-radius: 0; */
/* } */

/* .form-signin input[type="password"] { */
/*   margin-bottom: 10px; */
/*   border-top-left-radius: 0; */
/*   border-top-right-radius: 0; */
/* } */